@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Gibe 10€ for our personal emails
</address>

<address>
    <p>Support us on:</p><br />
    <strong>Patreon:</strong> <a href="https://www.patreon.com/commandzone">Patreon page</a><br />
    <strong>Twitch:</strong> <a href="https://www.twitch.tv/directory/game/Magic%3A%20The%20Gathering">Twitch page</a><br />
    <strong>Instagram:</strong> <a href="https://www.instagram.com/alter_mtg/">Instagram page</a>
</address>
