@{
    ViewData["Title"] = "Home Page";
}

@model List<CardViewModel>


@{ 

	var mojeIme = "Mario";

}



<h1> ovo je glavni naslov  </h1>
<h2> ovo je podnaslov </h2>
<p>  ovo je paragraf, zato mu je oznaka P   </p>



<p> Bok, danas smo analizirali karte: </p>

@{ 
	foreach (CardViewModel card in Model){
		<p>@card.CardName tipa @card.Type</p>
	}
}





<p> bok bok, danas smo analizirali kartu @Model[0].CardName    </p>