#paragraf{
    border:1px solid red;



}

#naslov{

    border-bottom:1px solid black;
}

#mojDiv{

   background-color:grey;

   padding-top:20px;
   padding-bottom:20px;
   padding-left:15px;
   padding-right:10px;


}


.clanListe{

    background-color:yellow;



}

.clanListe:hover{

    background-color:grey;
    border-bottom:1px solid grey;
    cursor:pointer;
}

.cardPicture{

    width:100px;
    height:150px;
    display:block;
    border:2px solid red;
}